nav{
    display:flex;
    gap:24px;
    background-color:#232F3E;
    margin-left:0px;
}
a{
    text-decoration:none;
    font-size:18px;
    color:white;
    padding:10px;

    border-radius:20px;
}
/* used with NavLink */
a.active{
    background-color:#febd69;
    color:black;
}
.cartdiv{
    background-color: rgb(191, 229, 241);
    display: flex;
    flex-direction: row-reverse;
    justify-items: right;  
}

